;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Sun Mar 13 15:43:51 2011
;; Desktop file format version 206
;; Emacs version 23.1.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/jruberg/code/pyty/myast/src/ast_extensions.py"
  "ast_extensions.py"
  'python-mode
  '(auto-fill-mode linum-mode)
  1453
  '(62 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/jruberg/Dropbox/code/pyty/myast/.bzrignore"
  ".bzrignore"
  'fundamental-mode
  '(linum-mode)
  68
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/jruberg/code/pyty/myast/src/util.py"
  "util.py"
  'python-mode
  '(auto-fill-mode linum-mode)
  429
  '(1034 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/home/jruberg/code/pyty/myast/doc/q.txt"
  "q.txt"
  'text-mode
  '(linum-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/jruberg/code/pyty/myast/doc/devlog.txt"
  "devlog.txt"
  'text-mode
  '(linum-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/jruberg/code/pyty/myast/doc/todo.txt"
  "todo.txt"
  'text-mode
  '(linum-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/jruberg/code/pyty/myast/src/typecheck.py"
  "typecheck.py"
  'python-mode
  '(linum-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/jruberg/code/pyty/myast/src/parse.py"
  "parse.py"
  'python-mode
  '(linum-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/jruberg/code/pyty/myast/src/errors.py"
  "errors.py"
  'python-mode
  '(linum-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/jruberg/code/pyty/myast/src/base_types.py"
  "base_types.py"
  'python-mode
  '(linum-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

